onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=msgpackr-extract
onlyBuiltDependencies[]=unrs-resolver
